<!doctype html>
<html lang="en">

<head>
    <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style-index.css">
</head>

<body>
    <header>
        <% include partials/header %>
    </header>

    <main>
        <h1>Americana</h1>
        <h2>An Explorer's Guide to the National Parks</h2>
    </main>

    <footer>
        <p class="text-center text-muted">&copy; Copyright 2016 Kathryn Wood</p>
    </footer>

</body>

</html>
