/*body {
  background-image: url('/images/htayowqrxww-ana-filipa-neves.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}*/

header {
  background-color: #2d4b1e;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: -10px;
}

h2 {
  font-family: 'Cardo', serif;
  font-size: 1.75em;
  letter-spacing: 1px;
  text-align: center;
}

.navbar {
  display: inline;
  list-style: none;
}

a {
  color: #00B7FF;
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}
