body {
  background-image: url('/images/htayowqrxww-ana-filipa-neves.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #ffffff;
}

h1 {
  font-size: 7em;
  margin-top: 160px;
}

h2 {
  margin-top: -15px;
}
