.nav-wrapper {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.nav-logo {
  height: 50px;
  padding-top: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 3px;
  text-align: center;
}

h2 {
  font-family: 'Cardo', serif;
  font-size: 1.75em;
  letter-spacing: 1px;
  text-align: center;
}

.navbar {
  display: inline;
  list-style: none;
}

a {
  color: #00B7FF;
}

form {
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}
